body {
  background: linear-gradient(#e66465, #9198e5);
}

h1 {
  font-family:'Times New Roman', Times, serif;
  color: black;
}

iframe {
  height: 33rem;
  width: 64rem;
}

p {
  font-family:'Times New Roman', Times, serif;
  display: inline-block;
}

/* CSS */
.button-33 {
background-color: #9DB6CC;
box-shadow: rgba(114, 55, 208, 0.2) 0 -25px 18px -14px inset,rgba(114, 55, 208, .15) 0 1px 2px,rgba(114, 55, 208, .15) 0 2px 4px,rgba(114, 55, 208, .15) 0 4px 8px,rgba(114, 55, 208, .15) 0 8px 16px,rgba(114, 55, 208, .15) 0 16px 32px;
color: white;
cursor: pointer;
display: inline-block;
font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
padding: 7px 20px;
text-align: center;
text-decoration: none;
transition: all 250ms;
border: 0;
font-size: 16px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-33:hover {
box-shadow: rgba(232, 13, 60, 0.35) 0 -25px 18px -14px inset,rgba(232,13,60,.25) 0 1px 2px,rgba(232,13,60,.25) 0 2px 4px,rgba(232,13,60,.25) 0 4px 8px,rgba(232,13,60,.25) 0 8px 16px,rgba(232,13,60,.25) 0 16px 32px;
transform: scale(1.05) rotate(-0.5deg);
}

.border {
  border-style: inset;
  border-color: rgb(224, 223, 223);
  border-width: 3px;
}

.shadow {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.header {
  padding: 30px;
  text-align: center;
  background: linear-gradient(#e66465);
  color: white;
  font-size: 30px;
}

.footer {
  background-color: #8f96e1;
  padding: 10px;
}

@media screen and (max-width: 992px) {
  iframe {width: 15rem}
  
}

@media screen and (max-width: 768px) {
  iframe {width: 45rem}
  
}

@media screen and (max-width: 320px) {
  iframe {width: 15rem}
  
}

